.Contenu{
    background: linear-gradient(to bottom right, #FDBD56, #FD56B6);
}


h1{
    font-family: Arial;
    letter-spacing: 6px;
    font-weight: bold;
    text-shadow: 2px 2px 2px gainsboro;
    color: white;
    background: linear-gradient(to bottom right, #FDBD56, #FD56B6);
}

form{
    font-family: Arial;
    letter-spacing: 1px;
    color: white;
}

h2{
    font-family: Arial;
    font-weight: 50;
    letter-spacing: 1px;
    color: white;
}
